# dependencies
/node_modules
/admin_front/node_modules
admin_front/node_modules/.cache/.eslintcache
admin_front/node_modules/.cache/next
admin_front/node_modules/.cache/webpack
admin_front/node_modules/.cache/terser-webpack-plugin

# build output
/build

# IDE files
.idea
.vscode